certifi==2018.1.18
chardet==3.0.4
clearbit==0.1.7
Django==1.11.15
django-rest-auth==0.9.3
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==3.2.1
idna==2.6
psycopg2==2.7.3.2
pyhunter==0.3
PyJWT==1.5.3
pytz==2018.3
requests==2.20.0
six==1.11.0
urllib3==1.26.5
username-generator==2.0.0
gunicorn
